.menu {
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  @media (min-width: $tablet) {
    flex-wrap: nowrap;
    justify-content: flex-end;
    text-align: left;
  }
}

.menu__item {
  width: 100%;

  @media (min-width: $tablet) {
    display: inline-block;
    width: auto;
  }
}

.menu__link {
  cursor: pointer;
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px 16px;
  text-align: center;

  &:hover {
    color: #888;
  }
}
